body {
  margin: 0px;
}

.introduction {
  background-color: #e4f9f5;
  color: #11999e;
  margin-top: 0px;
  height: 40%;
  text-align: center;
  padding-top: 10%;
  position: relative;
}

.introduction h1 {
  color: #66bfbf;
  margin: 0 auto;
}

.top-cloud {
  position: absolute;
  right: 100px;
  top: 50px;
}

.bot-cloud {
  position: absolute;
}

#pro {
  text-decoration: underline;
}

.moutain-img {
  width: 10%;
  height: auto;
  margin: 0 auto;
}
